interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      POLY_ADDRESS:
      - FILTERED_POLY_ADDRESS
      POLY_NONCE:
      - FILTERED_POLY_NONCE
      POLY_SIGNATURE:
      - FILTERED_POLY_SIGNATURE
      POLY_TIMESTAMP:
      - FILTERED_POLY_TIMESTAMP
    method: GET
    uri: https://clob.polymarket.com/auth/derive-api-key
  response:
    body:
      string: '{"apiKey": "FILTERED_apiKey", "secret": "RklMVEVSRURfc2VjcmV0", "passphrase":
        "FILTERED_passphrase"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: null
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      POLY_ADDRESS:
      - FILTERED_POLY_ADDRESS
      POLY_API_KEY:
      - FILTERED_POLY_API_KEY
      POLY_PASSPHRASE:
      - FILTERED_POLY_PASSPHRASE
      POLY_SIGNATURE:
      - FILTERED_POLY_SIGNATURE
      POLY_TIMESTAMP:
      - FILTERED_POLY_TIMESTAMP
    method: GET
    uri: https://clob.polymarket.com/balance-allowance?asset_type=COLLATERAL&signature_type=2
  response:
    body:
      string: '{"balance":"102901034","allowances":{"0x4bFb41d5B3570DeFd03C39a9A4D8dE6Bd8B8982E":"115792089237316195423570985008687907853269984665640564039457584007901796445577","0xC5d563A36AE78145C45a50134d48A1215220f80a":"115792089237316195423570985008687907853269984665640564039457584007912557810002","0xd91E80cF2E7be2e162c6513ceD06f1dD0dA35296":"115792089237316195423570985008687907853269984665640564039457584007913129639935"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: null
version: 1
